.feed-post-container{
    margin:10px 30px;
}
.post-card{
    width:500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin:20px 40px;
    padding:10px 40px;
    position: relative;
    z-index: 2;

}
.post-profile-details{
display:flex;
align-items: center;
justify-content: space-between;

}
.post-profile{
    display: flex;
    align-items: center;
}
.more-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.more-info{
    display: flex;
    flex-direction: column;
    background-color:blue;
    padding:10px;
    margin:10px;
}

.post-profile-details img{
    width:50px ;
    height: 50px;
    border-radius: 50%;
    
}
.post-user-name{
    font-size: 25px;
    margin-left:20px;
    font-weight: bold;
}

.post-caption{
    text-align: left;
    display: block;
font-size:18px;
margin: 5px 0px;
color:#475569;
}
.post-tags{
    display: block;
    text-align: left;
color:#475569;

padding-bottom: 15px;
}
.post-details img{
    width:500px;
    height: 300px;
    border-radius:10px;

}
.post-comm{
    font-size: 16px;
}
.post-btn{
    display: flex;
    justify-content: space-between;


padding-bottom: 15px;
}
.btn{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.post-like-btn{
    display: flex;
    align-items: center;
}
.post-like-btn small{
    font-size: 14px;
    text-transform: uppercase;
}

@media  (max-width:600px) {
    .feed-post-container{
    margin:10px 20px;

    }
    .post-card{
        width:300px;
        margin:10px 0px;
    padding:10px 20px;
    }

    .post-details img{
    width:300px;
    }
}