.home-container{
    margin-top:80px;
    padding:10px 25px;
    text-align: center;
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    gap:30px;
}

.home-user-container{
    /* border:1px solid black; */
}
.home-post-container{
    /* border:1px solid black; */

}
.home-friends-container{
    /* border:1px solid black; */

}
